h1{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

.sightings-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sightings{
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 500px){
  .sightings{
      width: 100%;
      padding-right: 3em;
  }
}
