/* universal fade-in animation for all screen sizes */
.img-section img{
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

span{
    color: aqua;
}

.calltoaction:hover{
    color: aqua;
}

img{
    width: 512px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: 'Noto Sans KR', sans-serif;
}

h4{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    line-height: 30px;
    color: white;
}

.call-to-action{
    margin: 0 auto;
    width: 20%;
}

h3{
    font-size: 1.3em;
    text-align: center;
    border: 1px solid aqua;
    border-radius: 20px;
    padding: 4%;
    font-family: 'Noto Sans KR', sans-serif;
}

.calltoaction{
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}


@media screen and (max-width: 400px){
    /* .calltoaction{
        padding-left: 100px !important;
    } */
    h3{
        border: 1px solid aqua;
        display: inline-block;
    }
}

@media screen and (max-width: 500px){
    .img-section{
        padding: 0 auto;
    }

    img{
        width: 200px;
        height: 200px;
    }

    .hero-text{
        padding: 0 1em;
    }

    h4{
        font-size: .8em !important;
    }

    h3{
        font-size: 1em;
        padding: 15% 15% !important;
    }

}

@media screen and (min-width: 1000px){
    
    .hero-text{
        margin-top: 10%;
        margin-bottom: 6%;
        padding: 0 2em;
    }

    h2{
        font-size: 2.6em !important;
    }
    
    h4{
        font-size: 1.5em !important;
    }
    
}



