/* .hero-container{
    display: grid;
   
    color: black;
}

.hero-text{
    padding: 30% 45px 0 45px;
    text-align: center;
}

.hero-text h2{
    font-size: 2em;
}

.hero-text h4{
    font-size: 1.3em;
    margin: 20px 0 30px 0;
}

.calltoaction{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 15px;
    border:1px solid cyan;
    background-color: cyan;
    border-radius: 30px;
}

img{
    text-align: center;
    width: 300px;
    height: 300px;
   
} */

.img-section{
    margin-top: 3em;
    margin-bottom: 5em;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    padding-left: 9em;
    text-align: center;
    justify-content: center;
    align-self: center;
}
.hero-text{
    width: 60vw;
    text-align: center;
    padding-left: 4.5em;

}

h2{
    width: 60vw;
}