*{
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.inline-section p{
    display: inline;
    padding-right: 1%;
}

.accor{  
  margin: 10px;
  border: 1px solid aqua;
  transition: 0.4s;
  border-radius: 20px;
}
  
  .head{
    background-color: #34435e;
    padding: 10px 20px;
    cursor: pointer;
}
  
  .panel{
    background-color: #34435e;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-in-out;
}
     
  .accor:active > .panel{
    padding: 10px 20px;
    max-height: 600px;
}

p{
  font-size: 1.3em;
}

