.alienufo-container{
    margin: 10% 25% 0 25%;
    text-align: center;
    /* margin-bottom: 6%; */
    /* border-top: 3px solid black; */
    min-width: 50vw;
    display: grid;
}

.title{
    font-size: 2em;
    padding: 50px 0;
}

.info-section{
    grid-template-columns: 600px;
}

.blurp{
    width: 200px;
    height: 200px;
    margin-bottom: 18%;
    border-radius: 10px;
    padding: 10%;
}

h4{
    padding-bottom: 5%;
}
