/* *{
    box-sizing: border-box;
    padding: 0;
    background-color: #1f2041;
} */
/* .website-container{
    min-width: 90vw;
} */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

